# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*.bak
*~ 

# Generated documentation
doc/

# Executable
*/bloom
*.exe

# MSVC++ stuff
src/Debug
src/ipch
src/Project-Bloom*

# Data
*.dat